.table.cost{
    padding:0 70px;
    padding-bottom:30px;
    width:100%;
    box-sizing:border-box;
    /* background:yellow; */
    /* height:500px; */
    overflow-y:hidden;
    position:relative;
}
.table.unit{
    margin:0 70px;
    padding-bottom:30px;
    box-sizing:border-box;
    /* background:yellow; */
    /* height:500px; */
    overflow-y:hidden;
    position:relative;
}
.contain{
    width:100;
    /*y轴溢出隐藏时，x轴不设置时，为scroll*/
    overflow-y:hidden;
    /* border-right:1px #333 solid; */
}
table.main-show{
    width:1580px;
    border-collapse:collapse;
}
table.main-show caption{
    line-height:60px;
    font-size:27px;
    color:#eee;
}
table.main-show tr td{
    width:90px;
    height:24px;
    text-align:center;
    font-size:13px;
}
table.main-show tr th{
    height:24px;
    background:rgb(197,217,241);
}
table.main-show tr td:nth-child(1){
    width:230px;
    height:24px;
    background:#ccc;
    font-size:14px;
}
table.main-cost tbody tr:nth-child(1),table.main-cost tbody tr:nth-child(3),table.main-cost tbody tr:nth-child(7),table.main-cost tbody tr:nth-child(13),table.main-cost tbody tr:nth-child(19),table.main-cost tbody tr:nth-child(20){
    font-weight:bold;
}
table.main-unit tbody tr:nth-child(2),table.main-unit tbody tr:nth-child(6),table.main-unit tbody tr:nth-child(12),table.main-unit tbody tr:nth-child(18){
    font-weight:bold;
}
table.main-col{
    width:232px;
    border-collapse:collapse;
}
table.main-col tr td{
    width:230px;
    height:24px;
    background:#ccc;
    font-size:14px;
    border-collapse:collapse;
}
.m1 table tr:nth-child(2),.m1 table tr:nth-child(3),.m1 table tr:nth-child(5),.m1 table tr:nth-child(9),.m1 table tr:nth-child(15),.m1 table tr:nth-child(21),.m1 table tr:nth-child(22){
    font-weight:bold;
}
.m2 table tr:nth-child(2),.m2 table tr:nth-child(4),.m2 table tr:nth-child(8),.m2 table tr:nth-child(14),.m2 table tr:nth-child(20),.m2 table tr:nth-child(21){
    font-weight:bold;
}
.mask table tr td{
    text-indent:10px;
    background:rgb(197,217,241);
}
.mask.m1{
    background:#eee;
    position:absolute;
    top:60px;
    left:0;
    padding-left:70px;
}
.rMask.rm1{
    width:70px;
    height:551px;
    background:#eee;
    position:absolute;
    top:60px;
    right:0;
    border-left:1px #333 solid;
}
.mask.m2{
    background:#eee;
    position:absolute;
    top:60px;
    left:0;
}
.article{
    text-align:center;
    position:relative;
    top:45px;
    z-index:3;
}
.costData{
    margin-top:55px;
    padding:0 70px;
}

